In [1]:
import pandas as pd
import matplotlib.pyplot as plt
file_path = 'Emplyees.csv'
df = pd.read_csv(file_path)

In [2]:
print(df)

   EmployeeID      Name   Salary Department Date of joining
0    J-126534      John   30,000         IT      10/06/2020
1    n-126534     nancy    52000         IT      03/03/2015
2    A-126534      Alex   74,000      Sales      23/11/2009
3    R-126534     Rohan    96000      Sales      15/08/2004
4    J-126534     Jamie  118,000  Marketing      08/05/1999
5    M-126534       Max   140000  Marketing      28/01/1994
6    K-126534  Kristina  162,000         HR      20/10/1988
7    R-126534    Robert   184000        RnD      13/07/1983
8    K-126534     Kelly  206,000      Sales      04/04/1978
9    P-126534      Phil   228000    Finance      25/12/1972
10   M-126534  Macenzie  250,000    Finance      17/09/1967
11   b-126534       bob   272000         IT      09/06/1962

In [3]:
departmentCount = df['Department'].value_counts()
print(departmentCount)

Department
IT           3
Sales        3
Marketing    2
Finance      2
HR           1
RnD          1
Name: count, dtype: int64

In [ ]:


#df['Date of joining'] = pd.to_datetime(df['Date of joining'])
#join