In [39]:
import pandas as pd

In [56]:
data = {'age':[20, 30 , 15, None, 19, None, 11], 'salary':[10000, 60000, 40000, 500000, 40000, None, None], 
        'City':['Manchester', 'Manchester', 'Paris', None, None, 'Tirana', 'Mumbai']}
dataset = pd.DataFrame(data)

In [57]:
dataset.to_csv('Data.csv', index=False)
print("Sucessfully created")

Sucessfully created

In [58]:
df = pd.read_csv('Data.csv')

In [59]:
print(df)

    age    salary        City
0  20.0   10000.0  Manchester
1  30.0   60000.0  Manchester
2  15.0   40000.0       Paris
3   NaN  500000.0         NaN
4  19.0   40000.0         NaN
5   NaN       NaN      Tirana
6  11.0       NaN      Mumbai

In [60]:
print(df.isnull().sum())

age       2
salary    2
City      2
dtype: int64

In [61]:
df['age'] = df['age'].fillna(df['age'].mean())

In [62]:
print(df['age'])

0    20.0
1    30.0
2    15.0
3    19.0
4    19.0
5    19.0
6    11.0
Name: age, dtype: float64

In [63]:
print(df.isnull().sum())

age       0
salary    2
City      2
dtype: int64

In [64]:
df['salary'] = df['salary'].fillna(df['salary'].median())
print(df['salary'])

0     10000.0
1     60000.0
2     40000.0
3    500000.0
4     40000.0
5     40000.0
6     40000.0
Name: salary, dtype: float64

In [68]:
df['City'] = df['City'].fillna(df['City'].mode()[0])
print(df['City'])

0    Manchester
1    Manchester
2         Paris
3    Manchester
4    Manchester
5        Tirana
6        Mumbai
Name: City, dtype: object

In [71]:
print(df.head())

    age    salary        City
0  20.0   10000.0  Manchester
1  30.0   60000.0  Manchester
2  15.0   40000.0       Paris
3  19.0  500000.0  Manchester
4  19.0   40000.0  Manchester

In [73]:
gender = ['Male', 'Female', 'Male', None, 'Male' , 'Female', 'Female']
df['gender'] = gender
print(df)

    age    salary        City  gender
0  20.0   10000.0  Manchester    Male
1  30.0   60000.0  Manchester  Female
2  15.0   40000.0       Paris    Male
3  19.0  500000.0  Manchester    None
4  19.0   40000.0  Manchester    Male
5  19.0   40000.0      Tirana  Female
6  11.0   40000.0      Mumbai  Female

In [74]:
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])

In [76]:
from sklearn.preprocessing import LabelEncoder

In [78]:
df = pd.get_dummies(df,columns = ['City'], drop_first = True)

In [85]:
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
print(df.head())

    age    salary  gender  City_Mumbai  City_Paris  City_Tirana
0  20.0   10000.0       1        False       False        False
1  30.0   60000.0       0        False       False        False
2  15.0   40000.0       1        False        True        False
3  19.0  500000.0       0        False       False        False
4  19.0   40000.0       1        False       False        False